.carousel {
  width: 250px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  animation: scroll 80s linear infinite;
  /* Ocupa a altura total da tela */
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.carousel.up .carousel-inner {
  animation-name: scroll-up;
}

.carousel.down .carousel-inner {
  animation-name: scroll-down;
}
@keyframes scroll-up {
  0% { transform: translateY(0); }
  100% { transform: translateY(-75%); }
}

@keyframes scroll-down {
  0% { transform: translateY(-75%); }
  100% { transform: translateY(0); }
}
.carousel-inner img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 25px;
}

@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}
