.carousel {
  width: 250px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  animation: scroll 80s linear infinite;
  /* Ocupa a altura total da tela */
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
  border: 3.8px solid #FADCA9; /* Borda Rosa Suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.carousel.up .carousel-inner {
  animation-name: scroll-up;
}

.carousel.down .carousel-inner {
  animation-name: scroll-down;
}

/* Adiciona margem aos containers dos carrosséis */
.carousel-container.left {
  margin-left: 10px;
}

.carousel-container.right {
  margin-right: 10px;
}
@keyframes scroll-up {
  0% { transform: translateY(0); }
  100% { transform: translateY(-75%); }
}

@keyframes scroll-down {
  0% { transform: translateY(-75%); }
  100% { transform: translateY(0); }
}
.carousel-inner img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 25px;
}

@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-82%); }
}
